# IGNORAR CARPETAS GLOBALES
/node_modules/
/.vscode/
.DS_Store

# IGNORAR ARCHIVOS CLAVE (Si se generaron en la raíz)
/docker-compose.yml.*
/package.json
/package-lock.json
frontend/app/google-services.json
backend/firebase-service-account.json
