version: '3.8'

services:
  
  api:
    
    build:
      context: ./backend
      dockerfile: Dockerfile
    
    ports:
      - "3000:3000"
   
    volumes:
      - ./backend:/usr/src/app
     
    depends_on:
      - cache
    
    env_file:
      - ./backend/.env
    
    command: npm start

  
  cache:
    image: redis:6-alpine
    
    ports:
      - "6379:6379"
    
    volumes:
      - redis_data:/data


volumes:
  redis_data: