# Dependencias Generadas
node_modules/
/npm-debug.log
/yarn-error.log

# Archivos de Compilación/Testing
/coverage
/build
/dist

# Archivos de Entorno (¡CRUCIAL!)
.env
.env.development
.env.production
firebase-service-account.json
# Configuración de IDEs
.vscode/
.idea/
